/* style */

.typo_stroke_style_1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #363636;
}

.typo_stroke_style_2 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.4px #101010;
}

.masking_host {
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 200px;
    line-height: 200px;
    font-weight: 900;
    letter-spacing: -10px;
}

/* text */

.gnb a {
    font-size: 24px;
    font-weight: 800;
    line-height: 112px;
    letter-spacing: -0.5px;
}

.contents_title_lg {
    font-size: 64px;
    line-height: 64px;
    font-weight: 800;
    letter-spacing: -2px;
}

.contents_title_md {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -2px;
}

.contents_title_sm {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
}

.contents_subtitle_lg {
    font-size: 28px;
    line-height: 140%;
    font-weight: 700;
    letter-spacing: -1px;
}

.contents_subtitle_md {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.contents_subtitle_sm {
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.contents_article_xlg {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.contents_article_lg {
    font-size: 20px;
    line-height: 160%;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.contents_article_md {
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: -0.5px;
    opacity: 60%;
}

.contents_article_sm {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.contents_description_lg {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
}

.contents_description_md {
    font-size: 12px;
    line-height: 140%;
    font-weight: 500;
    letter-spacing: -0.3px;
    opacity: 50%;
}

.btn_more_txt {
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.btn_more_plus {
    font-size: 14px;
    font-weight: 600;
}

.tab_btn_txt {
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #747474;
}

.chip_btn_txt {
    font-size: 24px;
    line-height: 56px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #fff;
}

.badge_txt {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
}

.contents_display_lg {
    font-size: 220px;
    line-height: 220px;
    font-weight: 700;
    letter-spacing: -14px;
    opacity: 80%;
}

.contents_display_md {
    font-size: 200px;
    line-height: 200px;
    font-weight: 900;
    letter-spacing: -10px;
    color: #111;
}

.contents_display_sm {
    font-size: 160px;
    line-height: 160px;
    font-weight: 700;
    letter-spacing: -10px;
    opacity: 70%;
}

/* object */

.divider {
    width: 100%;
    height: 1px;
    background: #aaa;
}

/*
.glass_layer{
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.01);
backdrop-filter: blur(160px);
-webkit-backdrop-filter: blur(160px);
z-index: -1;
}
*/

.object_ellipse {
    width: 392px;
    height: 392px;
    border-radius: 392px;
    filter: blur(40px);
    background: rgba(255, 255, 255, 0.11);
    z-index: -2;
}

.badge_host {
    width: 320px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-sizing: border-box;
    background: #111;
}

/* btn */

.btn_more {
    width: fit-content;
    height: fit-content;
    padding: 10px 32px;
    align-items: center;
    border: 0.6px solid #FFF;
    box-sizing: border-box;
    color: #fff;
    background: #101010;
    transition: 0.3s;
}

.btn_more:hover {
    color: #fff;
    background: #DF4960;
    border: 0.6px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.chip_btn {
    width: fit-content;
    height: fit-content;
    padding: 6px 8px 6px 20px;
    border: 0.6px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    transition: 0.3s;
}

/* background */

.black_background {
    width: 100%;
    height: 285px;
    background: #101010;
}